---
import { Image } from "astro:assets"
import cube from "../../assets/cube.svg"
import angleRight from "../../assets/angle-right.svg"
---

<section class="my-20 container mx-auto">
  <h1 class="text-2xl md:text-5xl md:leading-16 font-bold">
    Empower Your Community: <br /> Propose Ideas for Positive Change Today!
  </h1>

  <div class="mt-20 flex flex-wrap md:flex-nowrap items-center gap-12">
    <div class="flex flex-col gap-6">
      <Image src={cube} alt="cube" width={48} height={48} />
      <h1 class="font-bold text-2xl">
        Fuel Innovation: Fund Projects That Matter to You and Your Community
      </h1>
      <p class="text-base">
        Join us in transforming ideas into reality by supporting impactful
        projects.
      </p>
      <div class="mt-2 flex items-center gap-2">
        Propose
        <Image src={angleRight} alt="angle right" width={24} height={24} />
      </div>
    </div>
    <div class="flex flex-col gap-6">
      <Image src={cube} alt="cube" width={48} height={48} />
      <h1 class="font-bold text-2xl">
        Reward Yourself: Earn Rewards for Supporting Meaningful Initiatives
      </h1>
      <p class="text-base">
        Get recognized for your contributions while making a difference in the
        world.
      </p>
      <div class="mt-2 flex items-center gap-2">
        Earn
        <Image src={angleRight} alt="angle right" width={24} height={24} />
      </div>
    </div>
    <div class="flex flex-col gap-6">
      <Image src={cube} alt="cube" width={48} height={48} />
      <h1 class="font-bold text-2xl">
        Fuel Innovation: Fund Projects That Matter to You and Your Community
      </h1>
      <p class="text-base">
        Join us in transforming ideas into reality by supporting impactful
        projects.
      </p>
      <div class="mt-2 flex items-center gap-2">
        join
        <Image src={angleRight} alt="angle right" width={24} height={24} />
      </div>
    </div>
  </div>
</section>
